<h2>Responsive Grid pattern</h2>
<div class="container">

<h5>first grid</h5>
<div class="row">
	<div class="red accent-0 col s12 m4 l1">1</div>
	<div class="red accent-1 col s12 m4 l1">2</div>
	<div class="red accent-2 col s12 m2 l2">3</div>
	<div class="red accent-3 col s12 m2 l8">4</div>
</div>


<h5>second grid</h5>
<div class="row">
	<div class="red accent-0 col s12 m6 l8">1</div>
	<div class="red accent-1 col s12 m6 l4">2</div>
	<div class="red accent-2 col s12 m6 l4">3</div>
	<div class="red accent-3 col s12 m6 l8">4</div>
</div>

</div>