<div class="row">
	<div class="col s12">
		<h5>Contact</h5>
		<p class="flow-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
		</p>
  </div>
</div>

<div class="row">
  <form class="col s12">
    <div class="input-field col s12  l6">
      <input id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>
    <div class="input-field col s12 l6">
      <input id="last_name" type="text" class="validate">
      <label for="last_name">Last Name</label>
    </div>
    <div class="input-field col s12">
      <input id="email" type="email" class="validate">
      <label for="email">Email</label>
    </div>
      <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Comments</label>
      </div>
    <div class="row center-align">
      <a class="waves-effect waves-light btn">Submit</a>
    </div>
  </form>
</div>












