* {
  box-sizing: border-box;
}

body {
		margin-left: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  main {
    flex: 1 0 auto;
  }
      